<!DOCTYPE html>
<html class="{{ pageid }}" lang="en">
<head>
    <title>Sokoboo Scores</title>
    <meta charset="UTF-8">
    <link rel="icon" href="{{ asset('images/favicon.png') }}">

    <style>
        @font-face {
            font-family: 'ibmconv';
            src: url("{{ asset('fonts/Px437_IBM_Conv.woff') }}") format("woff");
        }

        @font-face {
            font-family: 'vga8';
            src: url("{{ asset('fonts/PxPlus_IBM_VGA8.woff') }}") format("woff");
        }

        .player-icon {
            background-image: url("{{ asset('images/player.png') }}");
        }
    </style>

    {% for file in encore_entry_css_files('highscores') %}
        <link rel="stylesheet" href="{{ asset(file) }}">
    {% endfor %}
</head>
<body>

<img src="{{ asset('images/logo.jpg') }}" alt="Sokoboo!" id="sokoboo-logo"/>
<div id="navigation">
    <ul>
        <li><a class="navigation-login" href="{{ path("create-user") }}">Login/Register</a></li>
        <li><a class="navigation-highscores" href="{{ path("highscores") }}">Scores</a></li>
        <li><a class="navigation-newscore" href="{{ path("newscore") }}">Enter Score</a></li>
        <li><a href=" https://atariage.com/store/" target="_blank">Buy</a></li>
    </ul>
</div>

{% block content %}{% endblock %}

</body>
</html>
