<!DOCTYPE html>
<html class="{{ pageid }}" lang="en">
<head>
    <title>Sokoboo Scores</title>
    <meta charset="UTF-8">
    <link rel="icon" href="{{ asset('images/favicon.png') }}">

    <style>
        @font-face {
            font-family: 'ibmconv';
            src: url("{{ asset('fonts/Px437_IBM_Conv.woff') }}") format("woff");
        }

        @font-face {
            font-family: 'vga8';
            src: url("{{ asset('fonts/PxPlus_IBM_VGA8.woff') }}") format("woff");
        }

        .player-icon {
            background-image: url("{{ asset('images/player.png') }}");
        }

        .clock-icon {
            background-image: url("{{ asset('images/clock.png') }}");
        }
    </style>

    {% for file in encore_entry_css_files('global') %}
        <link rel="stylesheet" href="{{ asset(file) }}">
    {% endfor %}

    {% block stylesextra %}{% endblock %}
</head>
<body>

<a href="{{ path("highscores") }}" id="sokoboo-logo">
    <img src="{{ asset('images/logo.png') }}" alt="Sokoboo!"/>
</a>
<div id="navigation">
    <ul>
        <li><a class="navigation-highscores" href="{{ path("highscores") }}">Level</a></li>
        <li><a class="navigation-register-score" href="{{ path("register-score") }}">Enter Score</a></li>
        <li><a class="navigation-play" href="{{ path("play") }}">Play</a></li>
        <li><a href=" https://atariage.com/store/" target="_blank">Store</a></li>
    </ul>
</div>

{% block content %}{% endblock %}

{% block scriptextra %}{% endblock %}

</body>
</html>
