{% extends "base.html.twig" %}
{% import "macros.html.twig" as macros %}

{% block content %}
    <form id="form-code" action="{{ path("newscore") }}" method="post">
        <label>
            Name:
            <input id="input-name" type="text" autocomplete="off" autocapitalize="off" name="name" required
                   value="{{ name }}" pattern="[a-zA-Z0-9\.\-_ ]*" maxlength="20"/>
        </label>
        <label>
            Code:
            <input id="input-code" type="text" autocomplete="off" autocapitalize="off" name="code" required
                   value="{{ code }}" pattern="[0-9]{12}" maxlength="12" minlength="12"/>
        </label>
        <button type="submit">Register</button>
    </form>

    {% if error is not empty %}
        <div class="status-message error">!!! {{ error }} !!!</div>
    {% endif %}

    {% if score is not empty %}
        <div class="status-message">
            Level: {{ score.level }}, Moves: {{ score.moves }}, Time: {{ score.seconds }}
        </div>
    {% endif %}
{% endblock %}

{% block scriptextra %}
    {{ macros.scriptextra("register-highscore") }}
{% endblock %}

{% block stylesextra %}
    {{ macros.stylesextra("register-highscore") }}
{% endblock %}